.chart-preview {
  display: flex;
  height: 400px;
  width: 600px;
  background-color: #dad7d7be;
  border: 3px solid #1098ad;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.image {
  height: 95%;
  width: 95%;
  object-fit: cover;
}
