node_modules

*SaaS.xlsx

# /microservice01/node_modules/

# /microservice02/node_modules/

# /microservice03/node_modules/

# /microservice04/node_modules/

# /microservice05/node_modules/

# /microservice06/node_modules/

# /microservice07/node_modules/

# /microservice08/node_modules/

# /microservice09/node_modules/

# /microservice10/node_modules/

# /microservice11/node_modules/

# /microservice12/node_modules/

# /microservice13/node_modules/

# /microservice14/node_modules/

# /microservice15/node_modules/

# /frontend/node_modules/

# /node_modules
