.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  gap: 40px;
}

.wordsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 40px;
}

.boxesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 18px;
}

.box {
  width: 300px;
  height: 50px;
  border: 2px solid #1098ad;
  border-radius: 10px;
}

span {
  font-size: 20px;
  font-family: sans-serif;
  color: #1098ad;
}

span:nth-child(3) {
  margin-top: 10px;
}

span:nth-child(2) {
  margin-top: 10px;
}
