.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  transform: translateX(-50%);
}

.general {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
