.logo {
  margin-top: 10px;
  background-color: #dad7d7be;
  width: 300px;
  border: 4px solid #1098ad;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120vh;
}

.myCharts {
  font-size: 48px;
  font-style: italic;
  color: #1098ad;
  font-family: "Inter", sans-serif;
}

.myCharts-logo {
  height: 80px;
  width: auto;
}
