.tablee {
  align-items: center;
  margin-left: 60px;
  width: 900px;
}

th {
  color: white;
  border: 2px solid white;
  padding: 8px;
  background-color: #1098ad;
  font-size: 18px;
}

td {
  border: 2px solid white;
  /* padding: 8px; */
  color: #1098ad;
  background-color: #dad7d7be;
  font-size: 18px;
  line-height: 1px;
  text-align: center;
}

td:last-child {
  padding-bottom: 24px;
}

span {
  cursor: pointer;
  flex: 50%;
  padding: 8px;
}

.downloadContainer {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.inlineContainer {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
